html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    
    font-family: 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#navbar {
    text-align: center;
}

#navbar ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    display: inline;
    user-select: none;
}

#navbar li a {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 6px;
    font-family: monospace;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

#navbar li a:hover {
    color: #fff;
    background-color: #000;
}

#flying-head {
    position: fixed;
    width: 100px;
    height: auto;
    animation: fly 5s linear infinite;
}

@keyframes fly {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 14vh;
        left: 120vw;
    }
    0% {
        top: 140vh;
        left: 92vw;
    }
}